It might be useful to run 'pip3 install &lt;library&gt; --upgrade" to make sure you have latest versions of pandas, matplotlib, etc.

In [1]:
import gzip            
import io              
import numpy as np
import pandas as pd    
import rdflib
from rdflib import Namespace
from SPARQLWrapper import SPARQLWrapper, JSON # ADD THIS
import urllib.request  

import matplotlib.pyplot as plt
plt.style.use('ggplot')

%matplotlib inline

## Access an Endpoint

In [2]:
endpoint = SPARQLWrapper("http://localhost:9999/blazegraph/namespace/ramphs/sparql")

In [10]:
query = """
INSERT DATA {}"""
           
endpoint.setQuery(query)
endpoint.setReturnFormat(JSON)
result = endpoint.query().convert()
type(result)

dict

In [11]:
result

{'head': {'vars': ['address']},
 'results': {'bindings': [{'address': {'type': 'uri',
     'value': 'http://example.org/id/Augustan'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Caesarean'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/FirstCentury'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Flavian'}},
   {'address': {'type': 'uri',
     'value': 'http://example.org/id/FourthCentury'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Hadrianic'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Imperial'}},
   {'address': {'type': 'uri',
     'value': 'http://example.org/id/Julio-Claudian'}},
   {'address': {'type': 'uri',
     'value': 'http://example.org/id/Late1stEarly2nd'}},
   {'address': {'type': 'uri',
     'value': 'http://example.org/id/LateSecondCentury'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Neronian'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Post-Severan'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Republican'}},
   {'address': {'type': 'uri',
     'value': 'http://example.org/id/SecondCentury'}},
   {'address': {'type': 'uri', 'value': 'http://example.org/id/Severan'}},
   {'address': {'type': 'uri',
     'value': 'http://example.org/id/ThirdCentury'}}]}}

In [5]:
for r in result["results"]["bindings"]:
        print(r['uri']['value'])

http://example.org/id/Augustan
http://example.org/id/Caesarean
http://example.org/id/FirstCentury
http://example.org/id/Flavian
http://example.org/id/FourthCentury
http://example.org/id/Hadrianic
http://example.org/id/Imperial
http://example.org/id/Julio-Claudian
http://example.org/id/Late1stEarly2nd
http://example.org/id/LateSecondCentury
http://example.org/id/Neronian
http://example.org/id/Post-Severan
http://example.org/id/Republican
http://example.org/id/SecondCentury
http://example.org/id/Severan
http://example.org/id/ThirdCentury

In [14]:
address = []
start = []
for r in result["results"]["bindings"]:
        address.append(str(r['address']['value']))
        # start.append(float(r['start']['value']))
        
pd.DataFrame({'address': address} ) # , 'start': start}).sort_values(by = 'start')

                                    address
0            http://example.org/id/Augustan
1           http://example.org/id/Caesarean
2        http://example.org/id/FirstCentury
3             http://example.org/id/Flavian
4       http://example.org/id/FourthCentury
5           http://example.org/id/Hadrianic
6            http://example.org/id/Imperial
7      http://example.org/id/Julio-Claudian
8     http://example.org/id/Late1stEarly2nd
9   http://example.org/id/LateSecondCentury
10           http://example.org/id/Neronian
11       http://example.org/id/Post-Severan
12         http://example.org/id/Republican
13      http://example.org/id/SecondCentury
14            http://example.org/id/Severan
15       http://example.org/id/ThirdCentury