It might be useful to run 'pip3 install &lt;library&gt; --upgrade" to make sure you have latest versions of pandas, matplotlib, etc.

In [2]:
import gzip            
import io              
import numpy as np
import pandas as pd    
import rdflib
from rdflib import Namespace
from SPARQLWrapper import SPARQLWrapper, JSON
import urllib.request  

import matplotlib.pyplot as plt
plt.style.use('ggplot')

%matplotlib inline

## Access an Enpoint

In [3]:
endpoint = SPARQLWrapper("http://localhost:9999/blazegraph/namespace/ramphs/sparql")

In [46]:
query = """
PREFIX class: <http://example.org/class/>
PREFIX id: <http://example.org/id/>
PREFIX property: <http://example.org/property/>

SELECT * WHERE { ?s a class:chronogrp ;
                    property:start ?start}"""
           
endpoint.setQuery(query)
endpoint.setReturnFormat(JSON)
result = endpoint.query().convert()
result

{'head': {'vars': ['s', 'start']},
 'results': {'bindings': [{'s': {'type': 'uri',
     'value': 'http://example.org/id/Augustan'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '-27.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Caesarean'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '-49.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/FirstCentury'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '1.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Flavian'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '69.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/FourthCentury'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '300.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Hadrianic'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '117.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Imperial'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '50.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Julio-Claudian'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '-27.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Late1stEarly2nd'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '75.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/LateSecondCentury'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '150.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Neronian'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '54.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Post-Severan'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '235.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Republican'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '-70.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/SecondCentury'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '100.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/Severan'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '193.0'}},
   {'s': {'type': 'uri', 'value': 'http://example.org/id/ThirdCentury'},
    'start': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
     'type': 'literal',
     'value': '200.0'}}]}}

In [18]:
for r in result["results"]["bindings"]:
        print(r['s']['value'])

http://example.org/id/Augustan
http://example.org/id/Caesarean
http://example.org/id/FirstCentury
http://example.org/id/Flavian
http://example.org/id/FourthCentury
http://example.org/id/Hadrianic
http://example.org/id/Imperial
http://example.org/id/Julio-Claudian
http://example.org/id/Late1stEarly2nd
http://example.org/id/LateSecondCentury
http://example.org/id/Neronian
http://example.org/id/Post-Severan
http://example.org/id/Republican
http://example.org/id/SecondCentury
http://example.org/id/Severan
http://example.org/id/ThirdCentury

In [52]:
s = []
start = []
for r in result["results"]["bindings"]:
        s.append(str(r['s']['value']))
        start.append(float(r['start']['value']))
        
pd.DataFrame({'uri': s, 'start': start}).sort_values(by = 'start')

    start                                      uri
12  -70.0         http://example.org/id/Republican
1   -49.0          http://example.org/id/Caesarean
0   -27.0           http://example.org/id/Augustan
7   -27.0     http://example.org/id/Julio-Claudian
2     1.0       http://example.org/id/FirstCentury
6    50.0           http://example.org/id/Imperial
10   54.0           http://example.org/id/Neronian
3    69.0            http://example.org/id/Flavian
8    75.0    http://example.org/id/Late1stEarly2nd
13  100.0      http://example.org/id/SecondCentury
5   117.0          http://example.org/id/Hadrianic
9   150.0  http://example.org/id/LateSecondCentury
14  193.0            http://example.org/id/Severan
15  200.0       http://example.org/id/ThirdCentury
11  235.0       http://example.org/id/Post-Severan
4   300.0      http://example.org/id/FourthCentury

In [33]:
g.serialize(destination='ramphs.ttl', format='turtle')